<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Dojo Exchange</title>
</head>

<body>
    <div class="header">
        <h2>The Dojo Exchange</h2>
        <nav>
            <a href="/dashboard">Exchange</a>|
            <a href="/cart">My Cart</a>|
            <a href="/messages">Messages</a>|
            <a href="/logout">Log Out</a>
        </nav>
    </div>
    <div class="container">
        <h2>Hello, {{ request.session.user_name }}!</h2>
        <div id="posted_messages">
            <h3>Your Messages:</h3>
            {% if messages %}
            {% for message in messages %}
            <p><b>About: {{item.item_name}}</b></p>
            <p>{{ message.message }}</p>
            <h6><b>-{{ message.poster.first_name }} {{ message.poster.last_name }}</b> - {{ message.created_at }}</h6>
            {% if message.poster.id == request.session.user_id %}
            <a href="/delete_message/{{ message.id }}">Delete</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="items_section">
            <div class="add_item">
                <h4>Add an item to sell!</h4>
                <form action="/add_item" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="item_name">Item Name:</label><input name="item_name" type="text"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label><input name="price" type="number" class="form-control"
                            placeholder='$'>
                    </div>
                    <div class="form-group">
                        <label for="condition">Condition:</label>
                        <select class="form-select form-select-lg mb-3" name="condition">
                            <option value="Brand new">Brand new</option>
                            <option value="Used - like new">Used - like new</option>
                            <option value="Used - good">Used - good</option>
                            <option value="Used - fair">Used - fair</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label><input name="category" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label><textarea class="form-control" rows="3" cols="20"
                            name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="image">Upload Image:</label><input name="image" type="file" class="form-control" id="customFile">
                    </div>

                    <button class="btn btn-primary">Add</button>
                    <a href="/account" role="button" class="btn btn-warning">Cancel</a>
                </form>
            </div>

            <div class="listed_items">
                <h4>Your listed items!</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item Name:</th>
                            <th>Price:</th>
                            <th>Condition:</th>
                            <th>Category:</th>
                            <th>Description:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        {% if item.seller.id == request.session.user_id %}
                        <tr>
                            <td>
                                <a href="/items/{{ item.id }}">{{ item.item_name }}</a>
                            </td>
                            <td>${{ item.price }}</td>
                            <td>{{ item.condition }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                
                                <a href="/items/{{ item.id }}/edit_item">Edit</a>|
                                <a href="/items/{{ item.id }}/delete_item">Delete</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</body>

</html>