<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>My Cart</title>
</head>

<body>
    <div class="header">
        <h2>The Dojo Exchange</h2>
        <h1>My Cart</h1>
        <nav><a href="/dashboard">Exchange</a>|<a href="/account">My Account</a>|<a href="/logout">Log Out</a></nav>
    </div>
    <div class="cart-container">
        {% for item in items %}
        {% if user in item.saved_item.all %}
            {% if item.saved_item.all == 0 %}
                <h3>Your Cart is Empty</h3>
            {% endif %}
        <div class="cart-items">
            <h3>{{ item.item_name }}</h3>
            <img src="{{item.image.url}}" alt="{{item.item_name}}" style="width:200px">
            <p>${{ item.price }}</p>
            <p>{{ item.condition }}</p>
            <p>{{ item.description }}</p>
            <p>Posted on: {{ item.created_at }}</p>
            <p>Posted by: {{ item.seller.first_name }} {{ item.seller.last_name }}</p>
            <a href="/items/{{ item.id }}" role="button" class="btn btn-primary">Listing Info</a>
            <a href="/items/{{ item.id }}/remove" role="button" class="btn btn-danger">Remove from Cart</a>
        </div>
        <div class="total">
            <h2>Your Total:</h2>
            <h3>${{ item.price }}</h3>
            <a href="/purchase/{{ item.id }}" role="button" class="btn btn-warning">Purchase</a>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>

</body>

</html>