<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Inbox Message</title>
</head>

<body>
    <div class="header">
        <h2>The Dojo Exchange</h2>
        <nav>
            <a href="/dashboard">Exchange</a>|
            <a href="/cart">My Cart</a>|
            <a href="/messages">Messages</a>|
            <a href="/logout">Log Out</a>
        </nav>
    </div>
    <div class="container">
        <h3>New message:</h3>
        <form id="send_message" action="/send" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" class="form-control" id="subject" name="subject">
            </div>
            <div class="form-group">
                <label for="message">Message:</label><textarea class="form-control" rows="3" cols="20"
                    name="message"></textarea>
            </div>
            <div class="w-75 ml-auto mr-auto mb-3">
                <label for="recipient">Choose a recipient:</label>
                <select class="form-control" id="recipient" name="recipient">
                    {% for u in all_users %}
                    <option value="{{u.id}}">{{u.first_name}} {{u.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="w-75 ml-auto mr-auto mb-3">
                <input type="submit" name="submit" id="submit" class="btn submit" value="Send">
            </div>
        </form>

</body>

</html>