<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Dojo Exchange</title>
</head>

<body>
    <div class="header">
        <h2>The Dojo Exchange</h2>
        <nav>
            <a href="/cart">My Cart</a>|
            <a href="/account">My Account</a>|
            <a href="/logout">Log Out</a>
        </nav>
    </div>
    <div class="dashboard_body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Category</th>
                    <th scope="col">Posted By</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% if item not in saved_item %}
                <tr>
                    <td>
                        <a href="/items/{{ item.id }}"><h4>{{ item.item_name }}</h4></a><img src="{{item.image.url}}" alt="{{item.item_name}}" style="width:100px;height:100px">
                    </td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.condition }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.seller.first_name }} {{ item.seller.last_name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>