* {
    margin:0;
    padding: 0;
}

/* .header{
    background-color: rgb(191, 167, 201);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} */
/* .items_section{
    display: flex;
    justify-content: space-between;
    
} */
/* .add_item {
    background-color: rgb(191, 167, 201);
    padding: 5px;
} */

/* #posted_messages {
    background-color: rgb(191, 167, 201);
    margin-bottom: 10px;
} */
/* .cart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
} */