* {
    margin:0;
    padding: 0;
}
body {
    width: 900px;
    margin: 15px;
    background-color: rgb(153, 153, 168);
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#posted_messages {
    background-color: bisque;
}